<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table{
            width:100%;
            border: 1px solid black;
            border-collapse: collapse;
        }
        th{
            border: 1px solid black;
            text-align: center;
        }
        td{
            border: 1px solid black;
            text-align: center;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>PoliceStationId</h1>
    <h1 id="psid">{{id}}</h1>
    <table id="main">
        <thead>
            <tr>
                <th>UserId</th>
                <th>Info</th>
                <th>Status</th>
                <th>policeofficer</th>
            </tr>
        </thead>
        <tbody id="main1">
        </tbody>
    </table>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="policestation_details.js"></script>
</html>